<?xml version="1.0"?>
<model>
  <name>subway_v2</name>
  <version>5.1</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>subway patrol robot sim</name>
  </author>
  <description>
    Gazebo subway_v2 robot scaled by 3.188160676533 to match the 1.508 m rail-center spacing.
  </description>
</model>
