<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="simple_v5">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.00342791825334722 0.0435557536573103 -0.0136969699950156"
        rpy="0 0 0" />
      <mass
        value="14.7168844279819" />
      <inertia
        ixx="0.216094216977918"
        ixy="-2.15936637059159E-07"
        ixz="1.20856557783439E-06"
        iyy="0.278539633712961"
        iyz="-5.34430530061159E-05"
        izz="0.0730010085266267" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simple_v5/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simple_v5/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="w1">
    <inertial>
      <origin
        xyz="9.91318433982147E-06 8.37358922123332E-06 0.0780641065720685"
        rpy="0 0 0" />
      <mass
        value="0.432839204473948" />
      <inertia
        ixx="0.000254810906659782"
        ixy="6.4803290655366E-08"
        ixz="-6.66448946404272E-08"
        iyy="0.000254716886605214"
        iyz="-4.03592026086579E-08"
        izz="0.000490322633066963" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simple_v5/meshes/w1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simple_v5/meshes/w1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="w1"
    type="continuous">
    <origin
      xyz="0.152328939951822 0.103 0.134095970953207"
      rpy="1.57079632679489 -0.16843576907617 1.5707963267949" />
    <parent
      link="base_link" />
    <child
      link="w1" />
    <axis
      xyz="0 0 -1" />
  </joint>
  <link
    name="w2">
    <inertial>
      <origin
        xyz="-3.20432711073404E-07 -1.29725007076142E-05 0.0780641066038903"
        rpy="0 0 0" />
      <mass
        value="0.432839204200384" />
      <inertia
        ixx="0.000254693986362194"
        ixy="3.90123500200824E-08"
        ixz="1.40700359473036E-08"
        iyy="0.000254833806900407"
        iyz="7.66318556253006E-08"
        izz="0.000490322633065786" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simple_v5/meshes/w2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simple_v5/meshes/w2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="w2"
    type="continuous">
    <origin
      xyz="-0.145471060048178 0.103 0.134095970953207"
      rpy="1.57079632679489 0.16843576907617 -1.5707963267949" />
    <parent
      link="base_link" />
    <child
      link="w2" />
    <axis
      xyz="0 0 -1" />
  </joint>
  <link
    name="w3">
    <inertial>
      <origin
        xyz="3.22186376802702E-06 -1.25701161331482E-05 0.0780641065724569"
        rpy="0 0 0" />
      <mass
        value="0.432839204470938" />
      <inertia
        ixx="0.000254683909187753"
        ixy="-3.37902874798302E-09"
        ixz="-7.31472956341223E-09"
        iyy="0.000254843884077263"
        iyz="7.75686918092966E-08"
        izz="0.000490322633066998" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simple_v5/meshes/w3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simple_v5/meshes/w3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="w3"
    type="continuous">
    <origin
      xyz="-0.145471060048178 0.102999999999999 -0.155904029046793"
      rpy="1.57079632679489 1.06806361303278 -1.5707963267949" />
    <parent
      link="base_link" />
    <child
      link="w3" />
    <axis
      xyz="0 0 -1" />
  </joint>
  <link
    name="w4">
    <inertial>
      <origin
        xyz="1.1817782403778E-05 5.35990214123316E-06 0.0780641066153226"
        rpy="0 0 0" />
      <mass
        value="0.432839204102094" />
      <inertia
        ixx="0.000254837882755251"
        ixy="3.0585332856977E-08"
        ixz="-7.5112683815234E-08"
        iyy="0.000254689910506613"
        iyz="-2.07000468565932E-08"
        izz="0.000490322633065432" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simple_v5/meshes/w4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simple_v5/meshes/w4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="w4"
    type="continuous">
    <origin
      xyz="0.152328939951822 0.102999999999999 -0.155904029046793"
      rpy="1.57079632679489 -1.06806361303278 1.5707963267949" />
    <parent
      link="base_link" />
    <child
      link="w4" />
    <axis
      xyz="0 0 -1" />
  </joint>
  <link
    name="yuntai">
    <inertial>
      <origin
        xyz="-2.56377579641726E-07 -0.110169069602299 -0.0784992077231397"
        rpy="0 0 0" />
      <mass
        value="0.904884147270093" />
      <inertia
        ixx="0.00311178538498172"
        ixy="4.7292512973693E-06"
        ixz="6.19240417083085E-07"
        iyy="0.0025251066654015"
        iyz="-2.23541087825991E-05"
        izz="0.00263526415654357" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simple_v5/meshes/yuntai.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simple_v5/meshes/yuntai.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="yaw"
    type="fixed">
    <origin
      xyz="-0.0738710600481814 -0.166 -0.0109040290468001"
      rpy="3.14159265358979 1.5707963267949 0" />
    <parent
      link="base_link" />
    <child
      link="yuntai" />
    <axis
      xyz="0 0 -1" />
  </joint>
  <link
    name="pitch">
    <inertial>
      <origin
        xyz="-0.0772695318878126 0.0326598382404958 -0.0474066970277468"
        rpy="0 0 0" />
      <mass
        value="1.90241501200622" />
      <inertia
        ixx="0.0021941081471964"
        ixy="3.19697219382067E-10"
        ixz="-3.42069944155667E-06"
        iyy="0.00512780545767912"
        iyz="2.60726514964611E-05"
        izz="0.00325257938604102" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simple_v5/meshes/pitch.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simple_v5/meshes/pitch.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ph"
    type="continuous">
    <origin
      xyz="0 0.01 0"
      rpy="3.14050535389669 -1.5707963267949 0" />
    <parent
      link="yuntai" />
    <child
      link="pitch" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="leida">
    <inertial>
      <origin
        xyz="-6.70843705679936E-05 -0.00057140439551521 0.0183157980108806"
        rpy="0 0 0" />
      <mass
        value="0.224138920024067" />
      <inertia
        ixx="9.82520762873099E-05"
        ixy="-2.15936637052778E-07"
        ixz="1.20856557780611E-06"
        iyy="0.000207409840614029"
        iyz="1.49309315522292E-07"
        izz="0.000241137504421461" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simple_v5/meshes/leida.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simple_v5/meshes/leida.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ld"
    type="fixed">
    <origin
      xyz="0.00342893995182154 -0.0120000000000005 0.139095970953207"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="leida" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="xj1">
    <inertial>
      <origin
        xyz="-5.55111512312578E-17 0.104709161171551 0.0201774320143985"
        rpy="0 0 0" />
      <mass
        value="0.0702201485513357" />
      <inertia
        ixx="6.8924576094566E-05"
        ixy="-2.83961933506812E-21"
        ixz="-4.68761581030898E-21"
        iyy="5.78477761286451E-05"
        iyz="-2.3570616399551E-05"
        izz="2.01494936410687E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simple_v5/meshes/xj1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simple_v5/meshes/xj1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="xj1"
    type="fixed">
    <origin
      xyz="0.163428939951822 -0.0135000000000005 -0.0109040290467929"
      rpy="0 -1.5707963267949 0" />
    <parent
      link="base_link" />
    <child
      link="xj1" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="xj2">
    <inertial>
      <origin
        xyz="5.89805981832114E-17 0.104709161171551 0.0201774320143985"
        rpy="0 0 0" />
      <mass
        value="0.0702201485513357" />
      <inertia
        ixx="6.8924576094566E-05"
        ixy="2.50233428139738E-21"
        ixz="5.78274655763536E-21"
        iyy="5.78477761286451E-05"
        iyz="-2.3570616399551E-05"
        izz="2.01494936410687E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simple_v5/meshes/xj2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simple_v5/meshes/xj2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="xj2"
    type="fixed">
    <origin
      xyz="-0.156571060048178 -0.0135000000000005 -0.0109040290467929"
      rpy="3.14159265358979 1.5707963267949 0" />
    <parent
      link="base_link" />
    <child
      link="xj2" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="xj3">
    <inertial>
      <origin
        xyz="2.77555756156289E-17 0.00131485474518442 0.0293800194825995"
        rpy="0 0 0" />
      <mass
        value="0.0702201485513357" />
      <inertia
        ixx="6.8924576094566E-05"
        ixy="-1.53330353480043E-21"
        ixz="1.44317138118459E-21"
        iyy="6.88359580916203E-05"
        iyz="4.53852695686594E-06"
        izz="9.16131167809349E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simple_v5/meshes/xj3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simple_v5/meshes/xj3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="xj3"
    type="fixed">
    <origin
      xyz="0.227928939951822 -0.107 -0.229404029046793"
      rpy="1.5707963267949 -1.5707963267949 0" />
    <parent
      link="base_link" />
    <child
      link="xj3" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="xj4">
    <inertial>
      <origin
        xyz="0 0.00131485474518436 0.0293800194825995"
        rpy="0 0 0" />
      <mass
        value="0.0702201485513357" />
      <inertia
        ixx="6.8924576094566E-05"
        ixy="-1.60274941698387E-21"
        ixz="-8.76971320862728E-21"
        iyy="6.88359580916203E-05"
        iyz="4.53852695686589E-06"
        izz="9.16131167809348E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simple_v5/meshes/xj4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simple_v5/meshes/xj4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="xj4"
    type="fixed">
    <origin
      xyz="-0.221071060048178 -0.107 -0.229404029046793"
      rpy="1.5707963267949 1.5707963267949 0" />
    <parent
      link="base_link" />
    <child
      link="xj4" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>